<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="/static/css/materialize.min.css">

      <title>GAINS PDF Generator - A python project by Glenn Paquette</title>
    </head>
    <body>
      <div class="container">

        <div class="card-panel teal lighten-2 white-text">
          <h1 class="center">GAINS Profile PDF Generator</h1>
        </div>

          <h4 class="center">Fill in the form below and generate your own stylish GAINS profile pdf.
            Now you can easily share it for your 1 to 1 meetings by attaching the pdf file in that will be
            generated for you in an email.</h4>

        {% block content %}{% endblock %}
      </div>

    <!-- Compiled and minified JavaScript -->
      <script src="/static/js/materialize.min.js"></script>
    </body>
</html>