<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link type="text/css" rel="stylesheet" href="/static/css/materialize.css" media="screen,projection">
      <title>{{pdf_name}} - GAINS Profile</title>
    </head>

    <body>
        <div class="row container" style="background-color:#641934" >

          <div class="col s4 white-text">
            <!-- navigation panel -->
            <h3 class="left-align valign-wrapper"> {{ pdf_name }}</h3> <br>
            <p class="subheader left-align">{{pdf_tel}} <br> {{ pdf_email }}</p><br>
            <p class="left-align">{{ pdf_about }}</p>

          </div>

          <div class="col s8 white" style="">
            <!-- Teal page content  -->
            <h2 class="section center-align" style="color:#641934">GAINS Profile</h2>

            <div class="divider">
              <div class="">
                <h3 style="color:#641934">Goals</h3>
                <p>{{pdf_goals}}</p>
              </div>
            </div>

            <div class="">
              <div class="">
                <h3 style="color:#641934">Accomplishments</h3>
                <p>{{pdf_accomplishments}}</p>
              </div>
            </div>

            <div class="">
              <div class="">
                <h3 style="color:#641934">Interests</h3>
                <p>{{pdf_interests}}</p>
              </div>
            </div>

            <div class="">
              <div class="">
                <h3 style="color:#641934">Networks</h3>
                <p>{{pdf_networks}}</p>
              </div>
            </div>

            <div class="">
              <div>
                <h3 style="color:#641934">Skills</h3>
                <p>{{pdf_skills}}</p>
              </div>
            </div>
                    <div class="">
              <div>
                <h3 style="color:#641934">Great Referrals Would Be...</h3>
                <p>{{pdf_referrals}}</p>
              </div>
            </div>
          </div>

        </div>

     <!--JavaScript at end of body for optimized loading-->
<!--      <script type="text/javascript" src="/static/js/materialize.js"></script>-->
    </body>
</html>
